desktop.ini
code/OCR/build/
code/OCR/.idea/
code/OCR/out/production/OCR/templates/restaurant.html
code/OCR/out/
code/Multi-Services/MongoDB/bin
code/Multi-Services/MongoDB/data
code/Multi-Services/MongoDB/data1
code/Multi-Services/MongoDB/data2
code/Multi-Services/MongoDB/data3
code/Multi-Services/MongoDB/data4

