<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div th:fragment="menu">
    <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
                <h3 style="text-align: center" th:text="'Welcome to ' + ${restaurantName} + '!'" > </h3>
                <span style="text-align: center" th:text="'Address: ' + ${address} " > </span><br/>
                <span style="text-align: center" th:text="'Introduction: ' + ${introduction}" > </span><br/><br/>

                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                    <div class="mdl-tabs__tab-bar">
                        <a th:each="menu : ${menus}" th:href="'#menu'+${menu.id}" href="#starks-panel" class="mdl-tabs__tab is-active"><span th:text="${menu.name}"></span></a>
                    </div>
                    <form id="orderForm" th:action="@{~/restaurant/}+${restaurantName}+'/createOrder'" action="#" method="post">
                    <div th:each="menu : ${menus}" class="mdl-tabs__panel" th:id="menu+${menu.id}">
                        <table class="fullwidth mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                            <thead>
                            <tr class="fullwidth">
                                <th></th>
                                <th class="mdl-data-table__cell--non-numeric" >Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="food:${menu.foods}">
                                <td>
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select" th:for="'food'+${food.id}">
                                        <input type="checkbox" th:id="'food'+${food.id}" onchange="toggleCheckbox(this)" name="foods" th:value="${food.id}" class="mdl-checkbox__input" />
                                    </label>
                                </td>
                                <td class="mdl-data-table__cell--non-numeric" th:text="${food.name}">Acrylic (Transparent)</td>
                                <td>
                                    <input type="number" class="mdl-textfield__input" th:id="'food'+${food.id}+'number'" name="numbers" disabled="disabled" placeholder="0"/>
                                </td>
                                <td th:text="${'$'+food.price}">$2.90</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                        <div class="mdl-textfield">
                            <input autofocus="autofocus" class="mdl-textfield__input" type="number" id="tableId" name="tableId" required="required"/>
                            <label class="mdl-textfield__label" for="tableId">Table Name</label>
                        </div>
                        <p id="table_error" style="color: red"></p>
                    </form>
                    <div class="mdl-grid">
                        <div class="mdl-cell--1-offset mdl-cell--2-col">
                            <div th:if="${isManager}" style="text-align: center">
                                <br/>
                                <form th:action="@{~/restaurant/}+${restaurantName}+'/edit/'">
                                    <button class="mdl-button" type="submit">Edit Menu</button>
                                </form><br/>
                            </div></div>
                        <div class="mdl-cell--6-col">

                        </div>
                        <div class="mdl-cell--3-col">
                            <br/>
                            <button class="mdl-button" onclick="validate()">Place Order</button>
                            <br/><br/>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    <script th:inline="javascript">
        function toggleCheckbox(obj) {
            var id = obj.id+"number";
            var myObj = document.getElementById(id);
            if(myObj.getAttribute('disabled') == "disabled"){
                myObj.removeAttribute("disabled");
                myObj.value=1;
                myObj.select();
            }else{
                myObj.value = '';
                myObj.setAttribute('disabled','disabled');
            }
        }
        function validate() {
            var check = document.getElementById('orderForm').checkValidity(); //check if table id is filled in
            /*<![CDATA[*/
            var menus = /*[[${menus}]]*/'menus';
            /*]]>*/
            var value= 1;
            menus.forEach(function(menu) {
                menu.foods.forEach(function(food){
                    var id ="food"+food.id+"number";
                    if(document.getElementById(id).value ==0 || document.getElementById(id).innerHTML>1000){
                        if(document.getElementById('food'+food.id).checked){
                            value = document.getElementById(id).value;
                            console.log(value);
                        }
                    }
                });
            });
            if(value==0){
                document.getElementById('table_error').innerHTML="The quantity of selected item cannot be 0!";
            }else if(value>1000){
                document.getElementById('table_error').innerHTML="The quantity of selected item cannot be more than 1000!";
            }else if(!check){
                document.getElementById('table_error').innerHTML="The table id must be filled in!";
            }else{
                document.getElementById('orderForm').submit();
            }
        }
    </script>
</div>

</body>
</html>