<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="navbar">
    <!-- Always shows a header, even in smaller screens. -->
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span th:if="${restaurantName} == null" class="mdl-layout-title">Online Cash Register</span>
            <span th:if="${restaurantName}" th:text="${restaurantName}" class="mdl-layout-title">Online Cash Register</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">

                <a th:href="@{/}" class="mdl-navigation__link" href="#">Home</a>

                <a th:href="@{/restaurant/name/}" class="mdl-navigation__link" href="">Restaurant</a>
                <a th:href="@{/admin/registration}" class="mdl-navigation__link" href="">Admin</a>

                <div sec:authorize="isAuthenticated()" class="material-icons mdl-badge mdl-badge--overlap">account_box</div>
                <a sec:authorize="isAuthenticated()" style="text-decoration:none" href="/logout" sec:authentication="name" id="account">Bob</a>
                <div sec:authorize="isAuthenticated()" class="mdl-tooltip mdl-tooltip--large" for="account">Logout</div>
                <a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="mdl-navigation__link" href="">Login</a>



            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Navigation</span>
        <nav class="mdl-navigation">
            <a th:href="@{/}" class="mdl-navigation__link" href="#">Home</a>
            <a  sec:authorize="!isAuthenticated()" th:href="@{/login}" class="mdl-navigation__link" href="">Login</a>
            <a th:href="@{/restaurant/name/}" class="mdl-navigation__link" href="">Restaurant</a>
            <a th:href="@{/admin/registration}" class="mdl-navigation__link" href="">Admin</a>
        </nav>
    </div>
</div>

</body>
</html>