<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Online Cash Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <th:block th:include="fragments/include :: include"></th:block>
</head>
<body>
    <div class="mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100 is-upgraded">
    <th:block th:include="fragments/navbar :: navbar">test</th:block>
    <main class="mdl-layout__content">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            <div class="mdl-cell mdl-cell--8-col">
                <h2>Welcome to OCR website landing page!</h2>
                <p>Go to admin <a href="/admin/registration">here</a></p>
                <div th:if="${logged}">
                    <p>Go to your restaurant  <a href="/restaurant/name/">here</a></p>
                </div>
                <p>Go to the login page  <a href="/login">here</a></p>
                <div th:if="${logged}">
                    <a th:href="@{/logout}">Log out</a>
                </div>
                <br/>
                <div sec:authorize="isAuthenticated()">
                    This content is only shown to authenticated users.
                </div>

                <br/>
                <span>List of restaurants:</span>
                <div th:each="restaurant :${restaurants}">
                    <a th:href="'restaurant/'+${restaurant.getName()+'/'}" th:text="${restaurant.getName()}"></a>
                </div>
            </div>
        </div>
    </main>
    </div>
</body>
</html>