<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Getting Started: Renting Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <th:block th:include="fragments/include :: include"></th:block>
</head>
<body>
<div class="mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100 is-upgraded">
    <th:block th:include="fragments/navbar :: navbar">test</th:block>
    <main class="mdl-layout__content">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--3-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            <div class="mdl-cell mdl-cell--6-col">
                <p style="text-align: center" th:text="'Welcome to ' + ${restaurantName} + '!'" > </p>
                <p style="text-align: center" th:text="'Address: ' + ${address} " > </p>
                <p style="text-align: center" th:text="'Introduction: ' + ${introduction}" > </p>
                <h4 style="text-align: center" > Please select a category:</h4>


                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                    <div class="mdl-tabs__tab-bar">
                        <a th:each="menu : ${menus}" th:href="'#'+${menu.getName()}" href="#starks-panel" class="mdl-tabs__tab is-active"><span th:text="${menu.getName()}"></span></a>
                    </div>

                    <div th:each="menu : ${menus}" class="mdl-tabs__panel" th:id="${menu.getName()}">
                            <ul th:each="food:${menu.getFoods()}" class="demo-list-control mdl-list">
                                <li class="mdl-list__item">
                                    <span class="mdl-list__item-primary-content">
                                        <i class="material-icons  mdl-list__item-avatar">person</i>
                                        <span th:text="${food.getName()}"></span>
                                        <span th:text="${'- $'+food.getPrice()}"></span>
                                    </span>
                                    <span class="mdl-list__item-secondary-action">
                                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" th:for="${food.getName()}">
                                            <input type="checkbox" th:id="${food.getName()}" class="mdl-checkbox__input" />
                                        </label>
                                    </span>
                                </li>
                        </ul>
                    </div>
                    <div th:if="${isManager}" style="text-align: center">
                        <br/>
                        <form th:action="@{~/restaurant/}+${restaurantName}+'/edit/'">
                            <button class="mdl-button" type="submit">Edit Menu</button>
                        </form>
                    </div>
                </div>

                <form style="text-align: center;" th:action="@{/logout}">
                    <button class="mdl-button" type="submit">Sign Out</button>
                </form>
                <br/>
                <footer th:fragment="site-footer" style="text-align: center">
                    &copy; Spring Boot Application - Faros, 2017
                </footer>
            </div>
        </div>
    </main>
</div>



</body>
</html>